/* App.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: teal;
    color: white;
  }
  
  .dashboard-header {
    background-color: sagegreen;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .dashboard-container {
    display: flex;
    height: calc(100vh - 80px);
  }
  
  .dashboard-sidebar {
    background-color: #004080;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .dashboard-sidebar button {
    background-color: #004080;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    text-align: left;
  }
  
  .dashboard-sidebar button:hover {
    background-color: #0066cc;
  }
  
  .dashboard-content {
    flex-grow: 1;
    padding: 20px;
  }
  